<!-- Title of popup -->
<h1 mat-dialog-title>list details</h1>
<!-- Note details -->
<p id="note-details">Note: {{ data.list.note }}</p>
<!-- Start Date details -->
<p id="start-details">Start Date: {{data.list.creationDate | date: 'mediumDate'}}</p>
<!-- Due Date details -->
<p id="due-details" *ngIf="data.list.type !== 1">Due Date: {{data.list.dueDate | date: 'mediumDate'}}</p>
<!-- Attachment details -->
<div class="fileDetail-wrapper" *ngFor="let file of data.list.file; let i = index">
  <div id="fname{{i}}" class="name-wrapper" matListItemTitle><mat-icon class="v-align-bottom" matListItemIcon>note</mat-icon>{{ file.name }}</div>
  <mat-icon id="fdownload{{i}}" matTooltip="Download" matTooltipPosition="above" (click)="downloadFile(file)">cloud_download</mat-icon>
</div>
<!-- Close popup -->
<div class="detailsBtn-wrapper">
  <button mat-dialog-close mat-raised-button color="primary">Close</button>
</div>
